:root {
 background-color:whitesmoke; 
  
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul li {
  margin-left: 20px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}
.hotel-details {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.hotel-image {
  flex: 1;
}

.hotel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-info {
  flex: 1;
  padding: 50px;
}

.hotel-info h2 {
  margin-top:auto;
}

.hotel-info ul {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
}

.hotel-info li {
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div li a{
  /* background-color: #000; */
  color: #fff;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div button{
  height: 20%;
  /* width: 20%; */
}
